* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cover-image {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;

}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Metamorphous', cursive;
    color: #111111;
    font-size: 76px;
    margin: 20px;
    animation: fade 2s;
}

.memory-board {
    width: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    height: 150px;
    width: 105px;
    margin: 10px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    border-radius: 6px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
 
.memory-card:active {
    transform: scale(0.97);
    transition: transform .5s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-image,
.back-image {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    opacity: 0.99;
}


.front-image {
    transform: rotateY(180deg);
    opacity: 1.0;
}

.replay {
    font-family: 'Metamorphous', cursive;
    font-size: 32px;
    height: 80px;
    width: 200px;
    background-color: #010101;
    color: whitesmoke;
    margin: 20px;
    border-radius: 50px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s;

}

.replay:hover {
    transform: scale(1.1);
    transition: transform .5s;
  }

.lock-pointer {
    pointer-events: none;
}

@keyframes fade { 
    0% {opacity: 0; transform: scale(0.95);}
    100% {opacity:1; transform: scale(1);}
}

@media screen and (max-width: 800px) {

    h1 {
        text-align: center;
    }

    .memory-board {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 48px;
    }

    .memory-card {
        height: 75px;
        width: 50px;
        margin: 5px;
    }
}