:root {
    --main-bg-color: #B22222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--main-bg-color);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Bebas Neue';
    font-size: 76px;
}

.memory-board {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    height: 180px;
    width: 130px;
    margin: 10px;
    transform: scale(1);
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 0.6s;
    -webkit-transition: transform 0.6s;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

.memory-card:active {
    transform: scale(0.95);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.front-image,
.back-image {
    width: 100%;
    height: auto;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    opacity: .99;
    
}

.front-image {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.replay {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    border-radius: 5px;
    height: 60px;
    width: 100px;
    margin-bottom: 80px;
    background-color: #010101;
    color: whitesmoke;
}